*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, sans-serif;
  background:#0f172a;
  color:white;
}

.page{
  padding:30px;
}

.card{
  background:#020617;
  padding:15px;
  border-radius:10px;
  margin-bottom:15px;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
}

textarea,input{
  width:100%;
  padding:10px;
  border:none;
  border-radius:5px;
  outline:none;
}

button{
  background:#22c55e;
  border:none;
  padding:8px 15px;
  border-radius:5px;
  cursor:pointer;
  font-weight:bold;
}

button:hover{
  opacity:0.9;
}

.logout{
  position:absolute;
  top:20px;
  right:20px;
  background:#ef4444;
  color:white;
}
@media(max-width:600px){
  .page{
    padding:15px;
  }

  .card{
    padding:12px;
  }

  h2{
    font-size:18px;
  }
}
.status-approved{
  color:#22c55e;
  font-weight:bold;
}

.status-rejected{
  color:#ef4444;
  font-weight:bold;
}

.status-pending{
  color:#eab308;
  font-weight:bold;
}
button{
 transition:0.2s;
}

button:hover{
 transform:scale(1.05);
}
/* SIDEBAR */
.sidebar{
  width:220px;
  height:100vh;
  background:#020617;
  position:fixed;
  left:0;
  top:0;
  padding:20px;
  z-index:100;   /* ADD */
}


.logo{
  text-align:center;
  margin-bottom:30px;
}

.nav{
  display:flex;
  gap:10px;
  padding:10px;
  margin-bottom:10px;
  color:white;
  text-decoration:none;
  border-radius:6px;
}

.nav:hover{
  background:#1e293b;
}

.nav.active{
  background:#22c55e;
  color:black;
}

/* MAIN CONTENT */
.main{
  margin-left:240px;
  padding:30px;
  min-height:100vh;   /* ADD */
}


/* LOGOUT */
.logoutBtn{
  margin-top:20px;
  width:100%;
  background:#ef4444;
  color:white;
}

/* MOBILE */
@media(max-width:700px){
  .sidebar{
    width:100%;
    height:auto;
    position:relative;
  }

  .main{
    margin-left:0;
  }
}
.main{
  margin-left:240px;   /* width of sidebar */
  padding:30px;
}

@media(max-width:768px){
  .main{
    margin-left:0;
  }
}
